
<div class="fat-line"></div>
<div class="med-line"></div>
<header>
<div class="sm-line"></div>

  <div class="container">


    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <img class="center" src="#" alt="Profile Picture" />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="center">Lukas Jones</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h6 class="center">Full Stack Developer</h6>
      </div>
    </div>

  </div>
  <a class="scroll" href="#bio">
    <%= image_tag "down_arrow.png", :class => "nav-circle" %>
  </a>
</header>

<section id="bio">

  <a class="scroll" href="#portfolio">
    <%= image_tag "down_arrow.png", :class => "nav-circle" %>
  </a>

</section>

<section id="portfolio">



</section>