<div class="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h1 class="center p-up">
          Projects
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://universitycrimewatch.com">
          <div class="project-box center ucw">
            University Crime Watch
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <a href="http://lukasplatforms.herokuapp.com">
          <div class="project-box center lps">
            Lukas Platforms
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="project-box center">Hey</div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6"></div>
    </div>  <!-- end row div -->
  </div>  <!-- end containter div -->
</div> <!-- end projects div -->