.bio-page {
	width: 100%;
	height: 100%;
	background: #FCF7F6;
}

.bio-container {
	max-width: 800px;
	margin: auto;
	padding: 4px;
}

#bio-header {
	position: relative;
	background: url("/assets/me_in_forest.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	z-index: 0;
}

#bio-header-overlay {
	position: relative;
	background: rgba(240,106,75, 0.6);
	z-index: 100;
	width: 100%;
	height: 100vh;
}

h1#bio-title {
	width: 280px;
	color: rgb(252,247,246);
 	font-size: 4em;
	font-weight: lighter;
	padding: 0;
	margin: 0;
	margin: auto;
	padding-top: 40vh;
}

h2.bio-title {
	padding: 20px 0;
	font-size: 2.5em;
	font-weight: lighter;
}

h3.sub-title {
	padding-top: 20px;
}

.bio-container p {
	font-weight: lighter;
	font-size: 1.05em;
}

.bio-page a {
	font-weight: bold;
	text-decoration: underline !important;
	color: rgb(123,165,199);
}

.bio-page a:hover {
	color: purple;
}

.skill-bar {
	display: block;
	margin: 5px 0;
	max-width: 800px;
	background: grey;
	color: white;
}

.inner-bar {
	height: 30px;
	width: 0px;
	background: orange;
	font-size: 1.1em;
	text-align: right;

}

.inner-bar .text {
	top: 4px;
	right: 8px;
}

.skill-bar .description {
	display: none;
	margin: 0;
	padding: 0;
}

img.skill {
	float: left;
}

.bio-page footer {
	margin-top: 40px;
}

.skill-list {
	list-style-type: none;
	max-width: 800px;
}

.skill-list li {
	display: inline-block;
	text-align: center;
	width: 24%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */




@media (max-width: 400px) {

	.skill-list li {
		font-size: 0.8em;
		width: 20%;
		margin: 0 5px;
	}

}