body {
  background: #77716F;
}
.projects {
  width: 100%;
  height: 100%;
  font-family: 'Poiret One', cursive;
}

.project-box {
  width: 250px;
  height: 250px;
  background: #FCF7F6;
  color: black;
  font-size: 1.5em;
}