// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************GENERAL STYLES*******************/

body {
  color: #FCF7F6;
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

.center {
  display: block;
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 4em;
}

h1, h4 {
  font-family: 'Poiret One';
}

img.nav-circle {
  margin: auto;
  position: absolute;
  display: block;
  border: 2px solid white;
  border-radius: 50%;
  bottom: 20px;
  left: 0;
  right: 0;
  /*text-align: center;*/
  -webkit-transition: background 0.75s;
    transition: background 0.75s;
}

img.nav-circle:hover {
  background: rgba(255,255,255,0.5);
}

/*************PICTURE SECTION STYLES****************/

.padded {
  padding: 50px;
}

header {
  position: relative;
  background: #F06A4B;
  height: 100vh;
  width: 100%;
}

.horizontal-nav {
  text-align: center;
}

.horizontal-nav li {
  display: inline-block;
  padding: 20px;
}



.horizontal-nav li a {
  color: white;
}

.horizontal-nav li a:hover {
  color: gray;

}

/*************BIO SECTION STYLES****************/


ul, li {
  padding: 0;
  margin: 0;
}

img.center {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  margin-top: 15vh;
}

section#bio {
  position: absolute;
  background: #7BA5C7;
  min-height: 100vh;
  width: 100%;
}

#bio h1 {
  padding: 20px;
}

.about-me-p {
  font-size: 1.2em;
  float: left;
  padding: 0;
  margin: 0;
}

.skill {
  padding: 5px;
}



/***********PORTFOLIO/BLOG SECTION STYLES**************/

section#portfolio-blog {
  margin-top: 100vh;
  padding-top: 50px;
  position: relative;
  background: #FFEDA7;
  height: 100vh;
  min-height: 400px;
  width: 100%;
}

#portfolio-blog h1 {
  color: black;
}






/**************CONTACT SECTION STYLES****************/

section#contact {
  /*margin-top: 100vh;*/
  position: absolute;
  background: #77716F;
  height: 100vh;
  min-height: 400px;
  width: 100%;
}

.contact {
  /*width: 80%;*/
  margin: 10px;
  padding: 10px;
  margin: auto;
}


.contact-top {
  margin-top: 20vh;
}

input, textarea {
  color: black;
}

