// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************GENERAL STYLES*******************/




ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

.center {
  display: block;
  text-align: center;
  margin: auto;
}



img.nav-circle {
  margin: auto;
  position: absolute;
  display: block;
  border: 2px solid white;
  border-radius: 50%;
  bottom: 20px;
  left: 0;
  right: 0;
  -webkit-transition: background 0.75s;
    transition: background 0.75s;
}

img.nav-circle:hover {
  background: rgba(255,255,255,0.5);
}


.ghost-button {
  font-size: 1.4em;
  background: transparent;
  border: 1px solid #325BB3;
  border-radius: 8px;
  margin-top: 40vh;
  width: 200px;
  height: 75px;
  /*background: rgba(119,113,111,0.4);*/
  color: #325BB3;
  -webkit-transition: background 0.75s, color 0.75s;
  transition: background 0.75s, color 0.75s;
}

.ghost-button:hover {
  background: rgba(50,91,179,0.8);
  color: white;
}

/*************PICTURE SECTION STYLES****************/

.padded {
  padding: 50px;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("/assets/backpacking.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.horizontal-nav {
  text-align: center;
}

.horizontal-nav li {
  display: inline-block;
  padding: 20px;
}

.horizontal-nav li a {
  color: white;
}

.horizontal-nav li a:hover {
  color: gray;
}

.opener-overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(255,237,167,0.5);
  bottom: 0;
}


h1.name {
  padding-top: 25vh;
  font-size: 5em;
  color: rgb(255,237,167);
  /*color: rgb(123,165,199);*/
  font-weight: lighter;
  text-shadow: -1px 0 rgb(119,113,111), 0 1px rgb(119,113,111), 1px 0 rgb(119,113,111), 0 -1px rgb(119,113,111);

}

h4.title {
  font-size: 1.5em;
  color: rgb(123,165,199);
  font-weight: lighter;
  text-shadow: -1px 0 rgb(119,113,111), 0 1px rgb(119,113,111), 1px 0 rgb(119,113,111), 0 -1px rgb(119,113,111);

}


/*************BIO SECTION STYLES****************/


ul, li {
  padding: 0;
  margin: 0;
}

img.center {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
  margin-top: 15vh;
}

section#bio {
  position: absolute;
  background: url("/assets/me_in_trees.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

#bio h1 {
  padding: 20px;
}

.about-me-p {
  font-size: 1.2em;
  float: left;
  padding: 0;
  margin: 0;
}

.skill {
  padding: 5px;
}



.bio-overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(240,106,75,0.5);
}




/***********PORTFOLIO SECTION STYLES**************/

section#portfolio {
  margin-top: 100vh;
  position: relative;
  background: url("/assets/coffee-apple-iphone-desk.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
  min-height: 400px;
  width: 100%;
}


.portfolio-overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(252,247,246,0.5);
}






/**************BLOG SECTION STYLES****************/



section#blog {
  position: relative;
  background: url("/assets/Stipula_fountain_pen.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 400px;
  width: 100%;
  text-align: center;
}

.blog-overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(123,165,199,0.5);


}





/**************CONTACT SECTION STYLES****************/

section#contact {
  position: absolute;
  background: white;
  height: 60vh;
  width: 100%;
}


.contact-button {
  margin: 20vh auto 0;
  display: block;
}

.contact-form {
  display: none;
  padding: 5vh 30px;
  max-width: 600px;
  margin: auto;

}

input.email-text, textarea.content-text {
  display: block;
  width: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid grey;

}
input.mail-submit {
  padding: 10px;
  margin: 10px;
  background: transparent;
  border: 1px solid grey;
  border-radius: 4px;
}



/* phone size */ 


@media (max-width: 400px) {
  h1.name {
    font-size: 3em;
  }
  h4.title {
    font-size: 1.1em;
  }
  
  .horizontal-nav li {
    padding: 10px;
    font-size: 14px;
  }

  input.email-text, textarea.content-text, input.mail-submit {
    margin: 2px;
  }



}

