<nav class="horizontal-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/bio">About Me</a></li>
    <li><a href="/welcome/projects">Portfolio</a></li>
    <li><a href="/blogs">Blog</a></li>
    <li><a href="#contact" class="scroll">Contact Me</a></li>
  </ul>
</nav>